#crie um arquivo .env e preencha as variaveis abaixo
# cp .env.example .env

PORT=3333

# db connection
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=docker
DB_NAME=postgres
DB_PORT=5432

# jwt secret key
JWT_SECRET=my-secret-key-dev

# google cloud storage
# path to key.json
GOOGLE_APPLICATION_CREDENTIALS=google-cloud-key.json
# bucket name
GOOGLE_STORAGE_BUCKET=my-bucket-name
GOOGLE_STORAGE_BUCKET_FOLDER=dev

SQUARE_API_URL=https://connect.squareupsandbox.com/v2
SQUARE_APPLICATION_ID=
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_WEBHOOK_BASEURL=
SQUARE_WEBHOOK_SUBSCRIPTION_KEY=
SQUARE_WEBHOOK_INVOICE_KEY=

# in developer mode only your email is receive messages
SENDINGBLUE_DEV_EMAIL=erodrigues.dev@gmail.com
SENDINGBLUE_API_URL=https://api.sendinblue.com/v3/smtp/email
SENDINGBLUE_API_KEY=


SOCKET_KEY=
